html {
  font-family: Manifont Grotesk;
  font-style: italic;
  background: radial-gradient(#93a2dc, #708384);
  background-size: cover;
  height: 100%;
}

/*
*/
.container-left {
  grid-area: left;
}
.container-right {
  grid-area: right;
}
.container {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-areas: "left right";
}
/*
*/

.lauftext {
  position: fixed;
  background-color: #93a2dc00;
  width: 98%;
  border: none;
  font-family: Manifont Grotesk;
  font-size: 20px;
  background: linear-gradient(to top, #000000 70%, #92a1db 28%, transparent 2%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 999999 !important;
}

.arrow-back {
  height: 50px;
  width: 50px;
  position: fixed;
  right: 0;
  top: 10px;
  margin: 20px;
  z-index: 9999999 !important;
}
.arrow-back:hover {
  transform: scale(0.9);
  opacity: 0.9;
}
#blur-tb {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}
#blur-lr {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}
h1 {
  font-family: MingLiu;
  -webkit-text-stroke: 2px black;
  -webkit-text-fill-color: black;
  text-shadow: 4px 4px 10px #bec7ea;
  text-align: right;
  font-size: 8vw;
  line-height: 6vw;
  animation: title 1.4s infinite alternate;
  transform: scale(1, 2);
  -webkit-transform: scale(1, 2);
}
@keyframes title {
  100% {
    text-shadow: 0 0 8px var(--color-pink);
  }
}
.areas {
  margin-top: 30px;
  margin-right: 25px;
  text-align: right;
}
.space {
  text-align: right;
  font-family: MingLiu;
  /*-webkit-text-stroke: 1.5px #93a2dc;*/
  -webkit-text-fill-color: black;
  /* text-shadow: 4px 4px 10px rgba(0, 0, 0, 1);*/
  transform: scale(1.5, 3);
  -webkit-transform: scale(1.5, 3);
  display: inline-block;
  line-height: 10vw;
  -webkit-text-stroke: 1.5px #000000;
  letter-spacing: 0.05em;
}
.space-01 {
  text-align: right;
  font-family: MingLiu;
  font-size: 8vw;
  line-height: 7vw;
  letter-spacing: -1vw;
  -webkit-text-stroke: 1.5px #000000;
}
@media (max-width: 600px) {
  .areas {
    font-size: 6vw;
    transform: rotate(-90deg);
    margin-top: 60%;
  }
}
a {
  font-family: MingLiu;
  text-decoration: none;
  -ms-user-select: None;
  -moz-user-select: None;
  -webkit-user-select: None;
  user-select: None;
  list-style: none;
  color: black;
  text-align: right;
}
#background-info-trigger {
  position: fixed;
  left: -50px;
  bottom: 70px;
  rotate: -90deg;
  background-color: #93a2dc;
  box-shadow: 2px 2px 2px #708384;
}
#background-info {
  background-color: #93a2dc;
  box-shadow: 2px 2px 2px #708384;
}

.title {
  font-family: MingLiu;
  font-size: 3em;
  text-shadow: black 0.1em 0.1em 0.2em;
  letter-spacing: -2px;
  position: fixed;
  bottom: 0;
  margin-bottom: 20px;
  z-index: 200;
  display: flex;
  align-items: center;
  justify-content: center;
}
#message {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 10px;
  border: none;
  outline: none;
  background-color: #bb5776;
  box-shadow: 10px 5px 5px #bb5776;
  border-radius: 20px;
  margin: 40px;
}
#message:hover {
  box-shadow: 10px 5px 5px #964861;
  transform: translate(2px);
  background-color: #bb577600;
}
/*interface-meditation/////////////////////////////////////////////////////////*/
#halucination-01 {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: repeat(auto, auto);
  gap: 0;
  animation: float 2s infinite;
}
@keyframes float {
  50% {
    transform: translateX(3px);
  }
}
.maingrid {
  display: grid;
  grid-template-columns: repeat(2, 10%) auto repeat(2, 10%);
}
.innergrid {
  display: grid;
}
.maincubus {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(163, 173, 219, 1) 36%,
    rgba(112, 130, 131, 1) 100%
  );
  animation: floatY 12s infinite;
}
.cubus01 {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    rgba(112, 130, 131, 1) 36%,
    rgba(163, 173, 219, 1) 100%
  );
  animation: hallucination 3s infinite;
}
@keyframes hallucination {
  50% {
    opacity: 0.5;
  }
}
@keyframes hallucination-02 {
  50% {
    transform: skew(15deg);
    background: linear-gradient(
      90deg,
      rgba(112, 130, 131, 1) 0%,
      rgba(163, 173, 219, 1) 50%,
      rgba(112, 130, 131, 1) 100%
    );
  }
}
@keyframes hallucination-03 {
  50% {
    background: linear-gradient(
      90deg,
      rgba(112, 130, 131, 1) 0%,
      rgba(163, 173, 219, 1) 50%,
      rgba(112, 130, 131, 1) 100%
    );
  }
}

#halucination-02 {
  z-index: 2;
  position: fixed;
  top: 20%;
  left: 14%;
  display: grid;
  grid-template-columns: repeat(5, 30px);
  animation: floatY 2s infinite;
}
#halucination-02a {
  z-index: 2;
  position: fixed;
  top: 1%;
  left: 5%;
  display: grid;
  grid-template-columns: repeat(50, 30px);
  animation: float 2s infinite;
}

#halucination-03 {
  z-index: 2;
  position: fixed;
  top: 20%;
  right: 14%;
  display: grid;
  grid-template-columns: repeat(5, 30px);
  animation: floatY 2s infinite;
}
#halucination-03a {
  z-index: 2;
  position: fixed;
  bottom: 1%;
  right: 5%;
  display: grid;
  grid-template-columns: repeat(50, 30px);
  animation: float 2s infinite;
}

.maincubus-02 {
  align-self: stretch;
  height: 30px;
  background: linear-gradient(
    90deg,
    rgba(163, 173, 219, 1) 36%,
    rgba(112, 130, 131, 1) 100%
  );
  animation: floatY 6s infinite;
}
.maincubus-03 {
  height: 100%;
  width: 100%;
  background: linear-gradient(
    90deg,
    rgba(163, 173, 219, 1) 0%,
    rgba(112, 130, 131, 1) 50%,
    rgba(163, 173, 219, 1) 100%
  );
  animation: float 12s ease-in-out infinite;
}

#halucination-04 {
  z-index: 3;
  position: fixed;
  top: 30%;
  right: 50%;
  display: grid;
  grid-template-columns: repeat(2, 100px);
  grid-template-rows: repeat(4, 100px);
  align-self: center;
}
#halucination-05 {
  z-index: 3;
  position: fixed;
  bottom: 30%;
  left: 50%;
  display: grid;
  grid-template-columns: repeat(2, 100px);
  grid-template-rows: repeat(4, 100px);
  align-self: center;
}
#halucination-06 {
  z-index: 4;
  position: fixed;
  top: 5%;
  left: 9.5%;
  display: grid;
  width: 10px;
  height: 90vh;
  align-self: center;
}
#halucination-07 {
  z-index: 4;
  position: fixed;
  top: 5%;
  right: 8%;
  display: grid;
  width: 10px;
  height: 90vh;
  align-self: center;
}
.maincubus-06 {
  height: 100%;
  width: 100%;
  background: linear-gradient(
    90deg,
    rgba(163, 173, 219, 1) 0%,
    rgba(112, 130, 131, 1) 50%,
    rgba(163, 173, 219, 1) 100%
  );
  animation: hallucination-03 3s infinite;
}
#halucination-08 {
  z-index: 5;
  position: fixed;
  top: 40%;
  left: 20%;
  display: grid;
  grid-template-columns: repeat(2, 10px);
  height: 100%;
}
#halucination-09 {
  z-index: 5;
  position: fixed;
  bottom: 40%;
  right: 20%;
  display: grid;
  grid-template-columns: repeat(2, 10px);
  height: 100%;
}
.innergrid-08 {
  display: grid;
  grid-template-columns: repeat(6, 10px);
}
/*///////cpu energie////////////////////////////////////////////////////////////////*/
.cpu-grill {
  background-image: url("img/cpu_energie_grill.png");
  background-size: cover;
  height: 100vh;
  z-index: 20;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
#heat-grid {
  width: auto;
  display: grid;
  grid-template-columns: repeat(100, 10px);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  gap: 10px;
  opacity: 0.7;
  transform: skew(-72deg, 60deg);
}
.heat {
  height: 100vh;
  width: 10px;
  background: linear-gradient(
    90deg,
    rgba(187, 87, 118, 0) 0%,
    rgba(187, 87, 118, 1) 50%,
    rgba(187, 87, 118, 0) 100%
  );
  animation: heatup 3s infinite;
}
@keyframes heatup {
  50% {
    opacity: 0.5;
    filter: blur(2px);
    box-shadow: 2px 2px 12px #e5e1da;
  }
}
/*///////telepathic touch////////////////////////////////////////////////////////////////*/
.finger {
  height: 150px;
  width: auto;
}
#outer div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 80px;
}
.draggable {
  position: absolute;
}
.draggable p {
  border: 1px dashed black;
  padding: 0.5em;
}
.draggable button {
  position: absolute;
  padding: 0.5em;
  left: 0;
  top: -20px;
  border: none;
  outline: none;
  background: none;
  font-size: 25px;
  color: #bb5776;
}
#b1 {
  font-family: MingLiu;
  margin: 20px;
  border: none;
  outline: none;
  background: #bb5776;
  box-shadow: 10px 5px 5px #bb5776;
  border-radius: 20px;
}
#b1:hover {
  box-shadow: 10px 5px 5px #964861;
  transform: translate(2px);
  background-color: #bb577600;
}
button {
  padding: 0.5em;
}
.scanning {
  display: flex;
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}
.scanning-hidden {
  display: flex;
  float: right;
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100vh;
  margin-right: 0%;
  top: 0;
  right: 0;
}
@media (max-width: 768px) {
  .scanning {
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    top: 20%;
  }
  .scanning-hidden {
    display: none;
  }
}
@media (max-width: 920px) {
  .scanning-hidden {
    display: none;
  }
}
@media (min-width: 1400px) {
  .scanning-hidden {
    margin-right: 0;
    width: 100%;
    height: 100vh;
    transform: scale(-1);
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
}
/*////////background-meditation//////////////////////////////////////////////////////////*/
.background-blur {
  position: fixed;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  z-index: -1;
  animation: float 3s ease-out infinite;
}
.background-blur♥ {
  position: fixed;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  z-index: -1;
  animation: floatY 5s ease-in infinite;
  animation: shine 2.5s infinite;
}
.background-blur♥♥ {
  position: fixed;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  z-index: -1;
  animation: glowing 6s ease-out infinite;
}
.background-blur♥♥♥ {
  position: fixed;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  z-index: -1;
  animation: bright 6s ease-out infinite;
}
@keyframes bright {
  50% {
    -webkit-filter: brightness(1.5);
    filter: brightness(1.5);
  }
}
@keyframes glowing {
  50% {
    transform: scaleY(1.02);
    transform: scaleX(1.05);
    filter: blur(20px);
  }
}
@keyframes shine {
  50% {
    opacity: 0.75;
    transform: scaleX(1.02);
    filter: blur(2px);
  }
}
@keyframes float {
  50% {
    transform: translateX(3px);
  }
}
@keyframes floatY {
  50% {
    transform: translateY(3px);
  }
}
/*INFOBOX/////////////////////////////////////////////////////////*/
.close-button {
  text-align: right;
  border: none;
  outline: none;
  background: none;
  font-size: 2.5vw;
  z-index: 10;
}
.infobox {
  font-family: MingLiu;
  font-size: 2.5vw;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 27px black;
  position: fixed;
  background-color: #92a1db;
  color: black;
  height: auto;
  width: 40vw;
  top: 35px;
  left: 30%;
  letter-spacing: -4px;
  z-index: 2; /*schwebt über normalen Webpage*/
  transform: scale(
    0
  ); /*Overlay verschwindet, nur wenn es aktiv ist, erscheint es*/
  /*Quelle: https://www.youtube.com/watch?v=MBaw_6cPmAw*/
}
.infobox.active {
  transform: scale(1);
}
#overlay {
  position: fixed;
  /*opacity: 0;*/
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}
#overlay.active {
  opacity: 1;
  pointer-events: all;
  cursor: pointer;
}
/*/////*/

#gradient {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: linear-gradient(
    to bottom,
    #92a1db 20%,
    transparent 40%,
    transparent 40%
  );
  z-index: 999999 !important;
}
#gradient-04 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: linear-gradient(
    to bottom,
    rgba(112, 130, 131, 0.8) 20%,
    transparent 40%,
    transparent 40%
  );
  z-index: 999999 !important;
}
#gradient-03 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: linear-gradient(
    to bottom,
    rgba(175, 138, 104, 1) 20%,
    transparent 40%,
    transparent 40%
  );
  z-index: 999999 !important;
}
